<div class = "page-contact-background">
<div class = "row">
         <div class = "col-sm-2"></div>
         <div class = "col-sm-8 blog-title">
             Estamos prontos para ouvir você!
         </div>
     </div>


<div class = "row">
    <div class = "col-lg-1 col-sm-1 col-md-1"></div>
    <div class = "col-lg-5 col-sm-10 col-md-10 form-background">
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Nome</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nome">
            </div>
             <div class="form-group">
                <label for="exampleFormControlInput1">Email</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
             <div class="form-group">
                <label for="exampleFormControlInput1">Telefone</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Telefone">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Área</label>
                <select class="form-control" id="exampleFormControlSelect1">
                <option>Selecione</option>
                <option>Eletrônica</option>
                <option>Fotovoltaico</option>
                <option>Planta Elétrica</option>
                <option>Sistema Web</option>
                <option>Eficiência Energética</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Como podemos ajudá-lo?</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class = "row">
                    <div class = "col-lg-4"></div>
                    <div class = "col-sm-12 col-lg-4 blog-btn-center">
                            <button type = "submit" class = "contact-btn blog-btn btn-block">Enviar</button>
            </div>
            </div>
            </form>
        </form>
    </div>
    <div class = "col-lg-5 col-sm-10 col-md-10">
        <div class = "side-contact-text">
            Descubra como a CPE pode te ajudar!
        </div>
        <div class = "side-contact-text-2">
            Aproveite este espaço para tirar todas
             as suas dúvidas e descobrir como podemos te ajudar
              a organizar e otimizar processos na agência. Basta
               preencher o formulário ao lado que nós entraremos
                em contato com você.
        </div>
    </div>
</div>
</div>