<div class = "page-contact-background">
<div class = "row">
         <div class = "col-sm-2"></div>
         <div class = "col-sm-8 contact-title">
             Estamos prontos para ouvir você!
         </div>
     </div>


<div class = "row">
    <div class = "col-lg-6 col-sm-12 col-md-12 col-sm-push-12">
        <div class = "form-background">
        <form action = "/contato" method = "post" role = "form">
            <div class="form-group">
                <label for="Nome">Nome</label>
                <input type="text" name = "name" class="form-control" id="name" placeholder="Nome" required>
            </div>
             <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" name = "email" class="form-control" id="email" placeholder="name@example.com" required>
            </div>
             <div class="form-group">
                <label for="Telefone">Telefone</label>
                <input type="text" name = "telefone" class="form-control" id="telefone" placeholder="Telefone" required>
            </div>
            <div class="form-group">
                <label for="Area">Área</label>
                <select class="form-control" name = "area" id="area" required>
                <option value disabled selected>Selecione</option>
                <option>Eletrônica</option>
                <option>Fotovoltaico</option>
                <option>Planta Elétrica</option>
                <option>Sistema Web</option>
                <option>Eficiência Energética</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Mensagem">Como podemos ajudá-lo?</label>
                <textarea class="form-control" name = "text" id="text" rows="3" required></textarea>
            </div>
            <div class = "row">
                <div class = "col-lg-4"></div>
                <div class = "col-sm-12 col-lg-4 blog-btn-center">
                    <button type = "submit" class = "contact-btn blog-btn btn-block">Enviar</button>
                </div>
            </div>

            <div class = "row">
                <div class = "col-2"></div>
                <div class = "col-8 message-state">
                    {{sent}}
                </div>
            </div>
            </form>
        </div>
    </div>

    <div class = "col-lg-6 col-sm-12 col-md-12 col-sm-pull-12">
        <div class = "side-contact-text">
            Descubra como a CPE pode te ajudar!
        </div>
        <div class = "side-contact-text-2">
            Aproveite este espaço para tirar todas
             as suas dúvidas e descobrir como podemos te ajudar
              a organizar e otimizar processos na agência. Basta
               preencher o formulário ao lado que nós entraremos
                em contato com você.

        </div>
    </div>
</div>
</div>

<div class="row">
  <div class="col-md-6 col-md-push-6">B</div>
  <div class="col-md-6 col-md-pull-6">A</div>
</div>