<div class = "error-background">
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-lg-5 col-sm-12 col-md-12 order-lg-1 order-sm-1">
          <div class = "error-title">
              <br>
              <br>
              <br>
                <h1>
                  <b>Erro 404</b>
                </h1>
                <br>
                <h2>Página não encontrada!</h2>
                <br>
              </div>
              <div class="error-text">
                <p>Desculpe, a página que você tentou acessar não foi
                encontrada. Enquanto verificamos o que ocorreu, que
                tal conferir nossas redes sociais?</p>
              </div>
                <br>
                <div class="wrapper">
            	    <ul class="social-icons icon-circle list-inline">
            	      <li> <a href="https://www.facebook.com/cpejr"><i class="fa fa-facebook"></i></a></li>
            	      <li> <a href="https://www.instagram.com/ondaamarela/?hl=pt-br"><i class="fa fa-instagram"></i></a></li>
            	      <li> <a href="https://www.linkedin.com/company/cpe-jr/"><i class="fa fa-linkedin"></i></a></li>
                </div>
              </div>
            </div>
          </div>
        <div class = "col-lg-7 col-sm-12 col-md-12 order-lg-2 order-sm-2">
          <img class="img-fluid image-error" src="/images/erro.svg">
        </div>
      </div>
