

<span class = "home container">
     <div class = "row">
         <div class = "col-sm-1"></div>
         <div class = "col-sm-10 blog-title">
             Blog
         </div>
     </div>
</span>

<div class = "metodology container">
     <div class = "row">
         <div class = "col-sm-1"></div>
         <div class = "col-sm-10 blog-title">
             Metodologias
         </div>
     </div>
</div>
