{{!-- SLIDER --}}

<div class = "projetos">
  <br>
  <br>
  <br>
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-lg-6 col-sm-12 col-md-12 order-lg-1 order-sm-1">
          <div class = "home-title">
              <p>Realize o seu projeto </p>
              <p>de engenharia e de tecnologia</p>
          </div>
          <div class = "home-text">
            A CPE é a empresa de tecnologia sediada na UFMG focada na entrega de
            <b>soluções de engenharia e de desenvolvimento web</b>. Temos orgulho de
            contribuir para o crescimento de negócios e para a criação de produtos
            personalizados para nossos clientes e parceiros.
              <div>
                <br>
                <button class = "home-btn">
                  <b>Comece agora</b>
                </button>
              </div>
            </div>
          </div>
        <div class = "col-lg-6 col-sm-12 col-md-12 order-lg-2 order-sm-2">
          <br>
          <img class="image-foguete" src="/images/lampada-foguete.svg">
        </div>
        <!-- <div class = "text-know-more">
            <a href = "#" class = "a-text-know-more"> Saiba mais > </a>
        </div> -->
      </div>
    </div>
    <div>
      <br>
      <img class="img-fluid" src="/images/wave-mid.png">
    </div>

</div>


{{!-- QUEM SOMOS --}}
<div class = "background-who-we-are">
  <br>
  <br>
  <br>
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-lg-6 col-sm-12 col-md-12 order-lg-1 order-sm-2">
          <br>
          <img class="img-fluid image-quebra-cabeca" src="/images/time-quebra-cabeca.svg">
        </div>
        <div class = "col-lg-6 col-sm-12 col-md-12 order-lg-2 order-sm-1">
          <div class = "home-title">
              <p>Realize o seu projeto </p>
              <p>de engenharia e de tecnologia</p>
          </div>
          <div class = "home-text">
              A CPE é a empresa de tecnologia sediada na UFMG focada na entrega de <b>soluções de
              engenharia e de desenvolvimento web</b>. Temos orgulho de
              contribuir para o crescimento de negócios e para a criação de produtos
              personalizados para nossos clientes e parceiros.
              <div>
                <br>
                <button class = "home-btn">
                  <b>Conheça a CPE</b>
                </button>
              </div>
            </div>
          </div>
        <!-- <div class = "text-know-more">
            <a href = "#" class = "a-text-know-more"> Saiba mais > </a>
        </div> -->
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<div class = "hr"></div>
    <div class = "parcerias-text">
      <br>
      <b>NOSSOS PARCEIROS</b>
      <br>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-lg-3"></div>
        <div class = "col-lg-1 col-sm-5 order-lg-1 order-sm-1">
            <img class="img-fluid image-parceria" src="/images/parceiro-dti.svg">
        </div>
        <div class = "col-lg-1 col-sm-5 order-sm-2 order-lg-2">
            <img class="img-fluid image-parceria" src="/images/parceiro-eletrogate.svg">
        </div>
        <div class = "col-lg-1 col-sm-5 order-sm-3 order-lg-3">
            <img class="img-fluid image-parceria image-parceria-2" src="/images/parceiro-fator junior.svg">
        </div>
        <div class = "col-lg-1 col-sm-5 order-sm-4 order-lg-4">
            <img class="img-fluid image-parceria image-parceria-2" src="/images/parceiro-ge.svg">
        </div>
        <div class = "col-lg-1 col-sm-5 order-sm-5 order-lg-5">
            <img class="img-fluid image-parceria image-parceria-2" src="/images/parceiro-ifg.svg">
        </div>
        <div class = "col-lg-1 col-sm-5 order-sm-6 order-lg-6">
            <img class="img-fluid image-parceria image-parceria-2" src="/images/parceiro-nata house.svg">
        </div>
    </div>
  </div>


{{!-- FRASES --}}
<br>
<br>
<br>
<div class="wrapper">
  <div class="item-bg"></div>

  <div class="news-slider">
    <div class="news-slider__wrp swiper-wrapper">
      <div class="news-slider__item swiper-slide">
        <a class="news__item">
          <div class="news__title">
            <b>Economize na conta de luz</b>
          </div>

          <p class="news__txt">
            Economize na sua conta de luz por gerar energia na sua propriedade, assim também você estará contribuindo com o meio ambiente
          </p>

          <div class="news__img">
            <img src="/images/conta-luz.svg">
          </div>
        </a>
      </div>

      <div class="news-slider__item swiper-slide">
        <a class="news__item">
          <div class="news__title">
            <b>Torne a sua empresa mais sustentável</b>
          </div>

          <p class="news__txt">
          Contribua com o meio ambiente e também economize na conta de luz por meio de geração de energia limpa e inovadora
          </p>


          <div class="news__img">
            <img src="/images/painel-solar.svg" alt="news">
          </div>
        </a>
      </div>

      <div class="news-slider__item swiper-slide">
        <a class="news__item">
          <div class="news__title">
            <b>Tenha todos os seus arquivos na nuvem</b>
          </div>

          <p class="news__txt">
          Tenha um banco de dados digital de rápido acesso e reduza o trabalho e custos com papeis e arquivos físicos
          </p>

          <div class="news__img">
            <img src="/images/banco-dados.svg" alt="news">
          </div>
        </a>
      </div>

      <div class="news-slider__item swiper-slide">
        <a class="news__item">
          <div class="news__title">
            <b>Tenha sua plataforma personalizada</b>
          </div>

          <p class="news__txt">
            Controle o seu negócio e permita que diferentes usuários utilizem o seu sistema de forma segura e prática
          </p>

          <div class="news__img">
            <img src="/images/computador-web.svg" alt="news">
          </div>
        </a>
      </div>

      <div class="news-slider__item swiper-slide">
        <a class="news__item">
          <div class="news__title">
            <b>Automatize e controle o seu ambiente</b>
          </div>

          <p class="news__txt">
          Utilize da Internet e do Bluetooth para controlar seus produtos ou dispositivos eletrônicos para uso comercial ou doméstico
          </p>

          <div class="news__img">
            <img src="/images/quarto-wifi.svg" alt="news">
          </div>
        </a>
      </div>

      <div class="news-slider__item swiper-slide">
        <a class="news__item">
          <div class="news__title">
            <b>Venda seu produtos e serviços na internet</b>
          </div>

          <p class="news__txt">
          Automatize a venda de seus produtos e serviços e impulssione o sucesso do seu negócio na internet
          </p>

          <div class="news__img">
            <img src="/images/venda-online.svg" alt="news">
          </div>
        </a>
      </div>
    </div>

    <div class="news-slider__ctr">

      <div class="news-slider__arrows">
        <button class="news-slider__arrow news-slider-prev">
          <span class="icon-font">
            <svg class="icon icon-arrow-left"><use xlink:href="#icon-arrow-left"></use></svg>
          </span>
        </button>
        <button class="news-slider__arrow news-slider-next">
          <span class="icon-font">
            <svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg>
          </span>
        </button>
      </div>

      <div class="news-slider__pagination"></div>

    </div>

  </div>

</div>

<svg hidden="hidden">
  <defs>
    <symbol id="icon-arrow-left" viewBox="0 0 32 32">
      <title>arrow-left</title>
      <path d="M0.704 17.696l9.856 9.856c0.896 0.896 2.432 0.896 3.328 0s0.896-2.432 0-3.328l-5.792-5.856h21.568c1.312 0 2.368-1.056 2.368-2.368s-1.056-2.368-2.368-2.368h-21.568l5.824-5.824c0.896-0.896 0.896-2.432 0-3.328-0.48-0.48-1.088-0.704-1.696-0.704s-1.216 0.224-1.696 0.704l-9.824 9.824c-0.448 0.448-0.704 1.056-0.704 1.696s0.224 1.248 0.704 1.696z"></path>
    </symbol>
    <symbol id="icon-arrow-right" viewBox="0 0 32 32">
      <title>arrow-right</title>
      <path d="M31.296 14.336l-9.888-9.888c-0.896-0.896-2.432-0.896-3.328 0s-0.896 2.432 0 3.328l5.824 5.856h-21.536c-1.312 0-2.368 1.056-2.368 2.368s1.056 2.368 2.368 2.368h21.568l-5.856 5.824c-0.896 0.896-0.896 2.432 0 3.328 0.48 0.48 1.088 0.704 1.696 0.704s1.216-0.224 1.696-0.704l9.824-9.824c0.448-0.448 0.704-1.056 0.704-1.696s-0.224-1.248-0.704-1.664z"></path>
    </symbol>
  </defs>
</svg>

<br>
<br>
<br>
<!-- <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
    <div class="card-body">
      <h4 class="card-title">Título do card</h4>
      <br>
      <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
    <div class="card-body">
      <h4 class="card-title">Título do card</h4>
      <br>
      <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
    <div class="card-body">
      <h4 class="card-title">Título do card</h4>
      <br>
      <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
    <div class="card-body">
      <h4 class="card-title">Título do card</h4>
      <br>
      <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
    </div>
  </div>
</div> -->


{{!-- BLOG --
<div class = "yellow-background blog-background">
    <div class = "container-fluid">
     <div class = "row">
         <div class = "col-sm-2"></div>
         <div class = "col-sm-8 blog-title">
             Blog
         </div>
     </div>
     </div>
    <div class = "container-fluid">
     <div class = "row">
        <div class = "col-sm-12 col-md-12 col-lg-4">
            <div class = "container-fluid">
            <div class = "row">
                <div class = "col-12 images-blog">
                    <img class="img-fluid" alt="Blog illustraton figure" src = "/images/blog-example.png">
                </div>
            </div>
            </div>
            <div class = "container-fluid">
            <div class = "row">
                <div class = "col-12 blog-text">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et
                    dolore magna aliquyam erat, sed diam voluptua. At vero
                </div>
            </div>
            </div>
        </div>
        <div class = "col-sm-12 col-md-12 col-lg-4">
            <div class = "container-fluid">
            <div class = "row">
                <div class = "col-12 images-blog">
                    <img class="img-fluid" alt="Responsive image" src = "/images/blog-example.png">
                </div>
            </div>
            </div>
            <div class = "container-fluid">
            <div class = "row">
                <div class = "col-12 blog-text">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et
                    dolore magna aliquyam erat, sed diam voluptua. At vero
                </div>
            </div>
            </div>
        </div>

        <div class = "col-sm-12 col-md-12 col-lg-4">
            <div class = "container-fluid">
            <div class = "row">
                <div class = "col-12 images-blog">
                    <img class="img-fluid" alt="Responsive image" src = "/images/blog-example.png">
                </div>
            </div>
            </div>
            <div class = "container-fluid">
            <div class = "row">
                <div class = "col-12 blog-text">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et
                    dolore magna aliquyam erat, sed diam voluptua. At vero
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
    <div class = "container-fluid">
    <div class = "row">
        <div class = "col-sm-1 col-lg-4"></div>
        <div class = "col-sm-10 col-lg-4 blog-btn-center">
            <div class = "container-fluid">
            <div class = "row">
            <div class = "col-lg-1"></div>
            <div class = "col-lg-10">
                <button class = "blog-btn btn-block">Veja mais no conteúdo no blog</button>
            </div>
            </div>
            </div>
        </div>
    </div>
    </div>
</div>

<section class="grey-background">
<div class = "metodology container-fluid">
     <div class = "row">
         <div class = "col-sm-1"></div>
         <div class = "col-sm-10 metodology-title">
             Metodologias
         </div>
     </div>
</div>

<div class = "container-fluid">
<div class = "row">
   <div class = "col-md-12 col-lg-6">
     <div class = "images-metodology">
       <img class="img-fluid" alt="Responsive image" src = "/images/blog-example.png">
     </div>

     <div class = "col-12 metodology-text">
       Executamos projetos com metodologias ágeis para trazer a <strong>melhor</strong> experiencia para você, cliente.
     </div>

    <div class = "metodology-btn-center">
      <button class = "metodology-btn btn-block">Conheça mais sobre como executamos projetos</button>
    </div>
   </div>


   <div class = "col-md-12 col-lg-6">
     <div class = "images-metodology">
       <img class="img-fluid" alt="Responsive image" src = "/images/blog-example.png">
     </div>

     <div class = "col-12 metodology-text">
       Focamos em atender o cliente da forma mais atenciosa, visando entender melhor a sua necessidade.
     </div>

    <div class = "metodology-btn-center">
      <button class = "metodology-btn btn-block">Entenda melhor o processo comercial</button>
    </div>
   </div>
 </div>
 </div>
</section>
}}
{{!-- CONTATO --}}
<div class = "contact-background">
    <div class = "contact-text">
        Comece agora uma nova era de resultados e experiências incríveis para você e sua empresa
    </div>
    <div class = "container-fluid">
    <div class = "row">
        <div class = "col-sm-1 col-lg-4"></div>
        <div class = "col-sm-10 col-lg-4 blog-btn-center">
            <div class = "container-fluid">
            <div class = "row">
            <div class = "col-lg-1"></div>
            <div class = "col-lg-10">
                <a href = "/contato"><button class = "blog-btn btn-block btn-contact">Fale com um consultor</button> </a>
            </div>
            </div>
            </div>
        </div>
        </div>
        </div>

  <!--Waves Container-->
    <div>
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(	235, 219, 21,0.7)" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(	235, 219, 21,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(	235, 219, 21,0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#ebdb15" />
        </g>
      </svg>
    </div>
  <!--Waves end-->
</div>
<!--Header ends-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>

<script src="/javascripts/home.js"></script>
