{{!-- SLIDER --}}

<div class = "projetos">
  <br>
  <br>
  <br>
  <div class = "container-fluid">
    <div class = "row">
      <div class = "col-lg-6 col-sm-12 col-md-12 order-lg-1 order-sm-1">
        <div class = "home-title-begining">
          <p>Realize o seu projeto </p>
          <p>de engenharia e de tecnologia</p>
        </div>
        <div class = "home-text-begining">
          <p>A CPE é a empresa de tecnologia sediada na UFMG focada na entrega de</p>
          <p><b>soluções de engenharia e de desenvolvimento web</b>. Temos orgulho de </p>
          <p>contribuir para o crescimento de negócios e para a criação de produtos</p>
          <p>personalizados para nossos clientes e parceiros.</p>
          <div>
            <br>
            <button class = "home-btn">Comece agora</button>
          </div>
        </div>
      </div>
      <div class = "col-lg-6 col-sm-12 col-md-12 order-lg-2 order-sm-2">
        <br>
        <img class="img-fluid image-foguete" src="/images/lampada-foguete.svg">
      </div>
      <!-- <div class = "text-know-more">
      <a href = "#" class = "a-text-know-more"> Saiba mais > </a>
    </div> -->
  </div>
</div>
<div>
  <br>
  <img class="img-fluid" src="/images/wave-mid.png">
</div>

</div>


{{!-- QUEM SOMOS --}}
<div class = "background-who-we-are">
  <br>
  <br>
  <br>
  <div class = "container-fluid">
    <div class = "row">
      <div class = "col-lg-6 col-sm-12 col-md-12 order-lg-1 order-sm-2">
        <br>
        <img class="img-fluid image-quebra-cabeca" src="/images/time-quebra-cabeca.svg">
      </div>
      <div class = "col-lg-6 col-sm-12 col-md-12 order-lg-2 order-sm-1">
        <div class = "home-title-whoweare">
          <p>Realize o seu projeto </p>
          <p>de engenharia e de tecnologia</p>
        </div>
        <div class = "home-text-whoweare">
          <p>A CPE é a empresa de tecnologia sediada na UFMG focada na entrega de</p>
          <p><b>soluções de engenharia e de desenvolvimento web</b>. Temos orgulho de </p>
          <p>contribuir para o crescimento de negócios e para a criação de produtos</p>
          <p>personalizados para nossos clientes e parceiros.</p>
          <div>
            <br>
            <button class = "home-btn">Conheça a CPE</button>
          </div>
        </div>
      </div>
      <!-- <div class = "text-know-more">
      <a href = "#" class = "a-text-know-more"> Saiba mais > </a>
    </div> -->
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
</div>
<div class = "hr"></div>
<div class = "parcerias-text">
  <br>
  <b>NOSSOS PARCEIROS</b>
  <br>
</div>
<br>
<br>
<br>
<br>
<div class = "container-fluid">
  <div class = "row">
    <div class = "col-lg-3"></div>
    <div class = "col-lg-1 col-sm-5 order-lg-1 order-sm-1">
      <img class="img-fluid image-parceria" src="/images/parceiro-dti.svg">
    </div>
    <div class = "col-lg-1 col-sm-5 order-sm-2 order-lg-2">
      <img class="img-fluid image-parceria" src="/images/parceiro-eletrogate.svg">
    </div>
    <div class = "col-lg-1 col-sm-5 order-sm-3 order-lg-3">
      <img class="img-fluid image-parceria image-parceria-2" src="/images/parceiro-fator junior.svg">
    </div>
    <div class = "col-lg-1 col-sm-5 order-sm-4 order-lg-4">
      <img class="img-fluid image-parceria image-parceria-2" src="/images/parceiro-ge.svg">
    </div>
    <div class = "col-lg-1 col-sm-5 order-sm-5 order-lg-5">
      <img class="img-fluid image-parceria image-parceria-2" src="/images/parceiro-ifg.svg">
    </div>
    <div class = "col-lg-1 col-sm-5 order-sm-6 order-lg-6">
      <img class="img-fluid image-parceria image-parceria-2" src="/images/parceiro-nata house.svg">
    </div>
  </div>
</div>
<br>
<div class = "container-fluid">
  <div class = "row">
    <div class = "home-title-awards">
      <div class = "col-6">
      <br>
      <br>
      <br>
        Entregamos uma experiência personalizada
        e total dedicação ao seu projeto
    </div>
    </div>
    <div class = "home-text-awards">
      <!-- <div class = "col-6"> -->
      <p>Já desenvolvemos diversas soluções aos nossos clientes.</p>
      <p>Por isso, conte com nossa<b> experiência, criatividade</b> e </p>
      <p> <b>profissionalismo </b> para te ajudar em seu projeto ou negócio</p>
    </div>
    <div class = "col-lg-4 col-sm-11 col-md-12 order-lg-5 order-sm-1">
      <img class="img-fluid image-premio" src="/images/premio-comemoracao.svg">
    </div>
  </div>
</div>

{{!-- FRASES --}}

<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="/images/1.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h4 class="card-title">CARD 1</h4>
            <br>
            <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/images/2.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h4 class="card-title">CARD 2</h4>
            <br>
            <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/images/3.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h4 class="card-title">CARD 3</h4>
            <br>
            <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="/images/2.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h4 class="card-title">CARD 2</h4>
            <br>
            <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/images/3.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h4 class="card-title">CARD 3</h4>
            <br>
            <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/images/4.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h4 class="card-title">CARD 4</h4>
            <br>
            <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="/images/3.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h4 class="card-title">CARD 3</h4>
            <br>
            <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/images/4.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h4 class="card-title">CARD 4</h4>
            <br>
            <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/images/1.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h4 class="card-title">CARD 5</h4>
            <br>
            <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="card-deck">
<div class="card">
<img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
<div class="card-body">
<h4 class="card-title">Título do card</h4>
<br>
<p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
</div>
</div>
<div class="card">
<img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
<div class="card-body">
<h4 class="card-title">Título do card</h4>
<br>
<p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
</div>
</div>
<div class="card">
<img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
<div class="card-body">
<h4 class="card-title">Título do card</h4>
<br>
<p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
</div>
</div>
<div class="card">
<img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
<div class="card-body">
<h4 class="card-title">Título do card</h4>
<br>
<p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
</div>
</div>
</div> -->


{{!-- BLOG --
<div class = "yellow-background blog-background">
<div class = "container-fluid">
<div class = "row">
<div class = "col-sm-2"></div>
<div class = "col-sm-8 blog-title">
Blog
</div>
</div>
</div>
<div class = "container-fluid">
<div class = "row">
<div class = "col-sm-12 col-md-12 col-lg-4">
<div class = "container-fluid">
<div class = "row">
<div class = "col-12 images-blog">
<img class="img-fluid" alt="Blog illustraton figure" src = "/images/blog-example.png">
</div>
</div>
</div>
<div class = "container-fluid">
<div class = "row">
<div class = "col-12 blog-text">
Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
sed diam nonumy eirmod tempor invidunt ut labore et
dolore magna aliquyam erat, sed diam voluptua. At vero
</div>
</div>
</div>
</div>
<div class = "col-sm-12 col-md-12 col-lg-4">
<div class = "container-fluid">
<div class = "row">
<div class = "col-12 images-blog">
<img class="img-fluid" alt="Responsive image" src = "/images/blog-example.png">
</div>
</div>
</div>
<div class = "container-fluid">
<div class = "row">
<div class = "col-12 blog-text">
Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
sed diam nonumy eirmod tempor invidunt ut labore et
dolore magna aliquyam erat, sed diam voluptua. At vero
</div>
</div>
</div>
</div>

<div class = "col-sm-12 col-md-12 col-lg-4">
<div class = "container-fluid">
<div class = "row">
<div class = "col-12 images-blog">
<img class="img-fluid" alt="Responsive image" src = "/images/blog-example.png">
</div>
</div>
</div>
<div class = "container-fluid">
<div class = "row">
<div class = "col-12 blog-text">
Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
sed diam nonumy eirmod tempor invidunt ut labore et
dolore magna aliquyam erat, sed diam voluptua. At vero
</div>
</div>
</div>
</div>
</div>
</div>
<div class = "container-fluid">
<div class = "row">
<div class = "col-sm-1 col-lg-4"></div>
<div class = "col-sm-10 col-lg-4 blog-btn-center">
<div class = "container-fluid">
<div class = "row">
<div class = "col-lg-1"></div>
<div class = "col-lg-10">
<button class = "blog-btn btn-block">Veja mais no conteúdo no blog</button>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<section class="grey-background">
<div class = "metodology container-fluid">
<div class = "row">
<div class = "col-sm-1"></div>
<div class = "col-sm-10 metodology-title">
Metodologias
</div>
</div>
</div>

<div class = "container-fluid">
<div class = "row">
<div class = "col-md-12 col-lg-6">
<div class = "images-metodology">
<img class="img-fluid" alt="Responsive image" src = "/images/blog-example.png">
</div>

<div class = "col-12 metodology-text">
Executamos projetos com metodologias ágeis para trazer a <strong>melhor</strong> experiencia para você, cliente.
</div>

<div class = "metodology-btn-center">
<button class = "metodology-btn btn-block">Conheça mais sobre como executamos projetos</button>
</div>
</div>


<div class = "col-md-12 col-lg-6">
<div class = "images-metodology">
<img class="img-fluid" alt="Responsive image" src = "/images/blog-example.png">
</div>

<div class = "col-12 metodology-text">
Focamos em atender o cliente da forma mais atenciosa, visando entender melhor a sua necessidade.
</div>

<div class = "metodology-btn-center">
<button class = "metodology-btn btn-block">Entenda melhor o processo comercial</button>
</div>
</div>
</div>
</div>
</section>
}}
{{!-- CONTATO --}}
<div class = "contact-background">
  <div class = "contact-text">
    Comece agora uma nova era de resultados e experiências incríveis para você e sua empresa
  </div>
  <div class = "container-fluid">
    <div class = "row">
      <div class = "col-sm-1 col-lg-4"></div>
      <div class = "col-sm-10 col-lg-4 blog-btn-center">
        <div class = "container-fluid">
          <div class = "row">
            <div class = "col-lg-1"></div>
            <div class = "col-lg-10">
              <a href = "/contato"><button class = "blog-btn btn-block btn-contact">Fale com um consultor</button> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Waves Container-->
  <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
      <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(	235, 219, 21,0.7)" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(	235, 219, 21,0.5)" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(	235, 219, 21,0.3)" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#ebdb15" />
    </g>
  </svg>
</div>
<!--Waves end-->
</div>
<!--Header ends-->
