<!DOCTYPE html>
<html style="overflow-x: none">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  </head>

  <body style="overflow-x: none">
    {{{body}}}
    <script src="/javascripts/jquery.js" charset="utf-8"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js" charset="utf-8"></script>

    <!-- Header and NavBar -->

    <nav id="navB" class="navbar navbar-expand-lg fixed-top navbar-dark header_style">

		<div class = "nav-cpe-dimensions">
			<a href="/"> <img  id="log" class = "img-fluid" src="/images/logo-cpe-white-text.svg"> </a>
    	{{!-- <a class="navbar-brand" href="/">
    		<img height="55" src="/images/logo-cpe-white-text.svg">
    	</a> --}}
		</div>
    	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
    	</button>
    	<div class="collapse navbar-collapse nav-bar-style" id="navbarSupportedContent">
    		<ul class="navbar-nav mr-auto">
				<li class="nav-item">
    				<a class="nav-link" href="/">Home</a>
    			</li>
    			{{!-- <li class="nav-item">
    				<a class="nav-link" href="quem-somos">Quem somos</a>
    			</li>
    			<li class="nav-item">
    				<a class="nav-link" href="solucoes">Soluções</a>
    			</li>
    			<li class="nav-item">
    				<a class="nav-link" href="metodologia">Metodologia</a>
    			</li>
    			<li class="nav-item">
    				<a class="nav-link" href="cases">Cases</a>
    			</li>
    			<li class="nav-item">
    				<a class="nav-link" href="blog">Blog</a>
    			</li> --}}
    			<li class="nav-item">
    				<a class="nav-link" href="processo-seletivo">Processo Seletivo</a>
    			</li>
    		</ul>
			<ul class="navbar-nav ml-auto nav-bar-style">
				<form id="cttBtn" class="form-inline">
					<a href="/contato"><button class="btn btn-to-contact btn-success" type="button">Contato</button></a>
				</form>
    		</ul>
    	</nav>

      <!-- WhatsApp Button-->
      <a href="/sucesso?w" target="_blank" class="float">
              <i id="i1" class="fa fa-whatsapp my-float fa-2x"></i>
              <i id="i2" class="fa fa-whatsapp my-float fa-5x"></i>

          </a>


	<!-- Footer -->
	<footer class="container-fluid py-5 bg-black">
		<div class="row">

        <div class="footer-item col-lg-3 col-sm-12">
        <img class = "footer-logo" src="/images/logo-cpe-white-text.svg">
        </div>
	        <div class="footer-item col-lg-3 col-sm-12">
	        	<div>CPE</div>
	        	<ul class="list-unstyled">
	        		<li><a class="text-muted footer-link" href="#">Home</a></li>
	       		    <li><a class="text-muted footer-link" href="#">Contato</a></li>
	        	<!--	<li><a class="text-muted footer-link" href="#">Processo Seletivo</a></li>
	        		<li><a class="text-muted footer-link" href="#">Blog</a></li>
            -->
	        	</ul>
	        </div>
	        <div class="footer-item col-lg-3 col-sm-12">
	        	<div>Telefone e WhatsApp</div>
	        	<ul class="list-unstyled text-small">
	        		<li><a class="text-muted footer-link" href="/sucesso?w">(31) 3409-6695</a></li>
	        	</ul>
            <div>Email</div>
	        	<ul class="list-unstyled text-small">
	        		<li><a class="text-muted footer-link" href="mailto:contato@cpejr.com.br">contato@cpejr.com.br</a></li>
	        	</ul>
            <div>Endereço</div>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted footer-link" href="#">Av. Presidente Antônio Carlos, 6627,<br>UFMG Campus Pampulha,<br> Prédio Inova, Bairro Pampulha,<br>Belo Horizonte - MG </a></li>
            </ul>
	        </div>
			<div class="footer-item col-lg-3 col-sm-12">
        <div>Créditos</div>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted footer-link" href="#">Ilustrações obtidas em freepik.com</a></li>
        </ul>
      </div>
			</div>
	        {{!-- <div class="col-md-6">
	        	<h5>Se inscreva na nossa newsletter</h5>
				<form>
					<div class="form-group">
						<input type="text" class="form-control" id="inputEmail" placeholder="Digite o seu nome">
				    	<input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Digite o seu email">
				  	</div>
				 	<button type="submit" class="btn btn-primary">Quero me cadastrar</button>
				</form>
	        </div> --}}
	    </div>
	    <hr class="line-footer">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
      <span id="copy" class="footer-span">© 2019 Consultoria e Projetos Elétricos Júnior. Todos os direitos reservados.</span>
    </div>

    <div class="col-lg-4 col-sm-6">
      </div>
<!--      <div class="col-lg-2 col-sm-6">
        <ul>
          <li>
        <img class = "social-icon" src="/images/yellow_fb.svg">
      </li>
        <li>
        <img class = "social-icon" src="/images/yellow_ln.svg">
      </li>
        <li>
        <img class = "social-icon" src="/images/yellow_insta.svg">
      </li>
    </ul>
  </div>   -->
      </div>
    </div>
	</footer>
  <script>
window.onscroll = function() {myFunction()};
function myFunction() {
  if (document.body.scrollTop > 116 || document.documentElement.scrollTop > 116) {
    document.getElementById("navB").className = "navbar navbar-expand-lg fixed-top navbar-yellow";
    document.getElementById("log").src ="/images/logo-black.png";
    document.getElementById("log").className = "img-fluid logsize";
	document.getElementById("cttBtn").className = "form-inline cttBtn";

  } else {
    document.getElementById("navB").className = "navbar navbar-expand-lg fixed-top navbar-dark header_style";
    document.getElementById("log").src ="/images/logo-cpe-white-text.svg";
    document.getElementById("log").className = "img-fluid";
	document.getElementById("cttBtn").className = "form-inline";


  }
}
</script>
  </body>
</html>
