<div class="waveWrapper waveAnimation">
  <div class="waveWrapperInner bgTop">
    <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
  </div>
  <div class="waveWrapperInner bgMiddle">
    <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
  </div>
  <div class="waveWrapperInner bgBottom">
    <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
  </div>
  <div class="justify-content-center">
    <div class = "col-12 text-center title">
        Soluções
    </div>
  </div>
  <div class="row">
    <div class = "text-center col-6 content vertical-center-solutions">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua.
    </div>
    <div class="col-6 content text-center">
      mexe pra cima
    </div>
    </div>

  </div>
<!-- deleta daqui pra frente depois, é só pra testar o scroll -->
