@import ../bootstrap/scss/bootstrap.scss

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.yellow-background
  background-color: #ead123

.blog-title
  text-align: center
  font-size: 50px
  font-weight: bold
  margin: 20px 0
  padding-bottom: 10px
  border-style: solid
  border-top: none
  border-left: none
  border-right: none

.images-blog
  margin: 20px 0
  text-align: center

.blog-text
  font-size: 30px
  margin: 0 0 40px 0

.row
  margin-right: 0
  margin-left: 0

.blog-btn-center
  text-align: center
  margin: 40px 0
  
.blog-btn
  border-radius: 25px
  padding: 11px 25px
  font-weight: 600
  border: none
  display: inline-block
  font-size: 2rem
  background: linear-gradient(to right, #7f26bf 0%,#9926c0 100%)
  color: white
  padding: 30px 10px
