@import ../bootstrap/scss/bootstrap.scss


@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Muli|Oxygen&display=swap')

// Para google fontes -> use:
// font-family: 'Muli', sans-serif
// font-family: 'Oxygen', sans-serif
// font-family: 'Maven Pro', sans-serif



//Página Home ------------------------------------------------------------------------------
body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.yellow-background
  background: linear-gradient(to bottom, #f5e722, #b8b040)
  background-attachment: fixed

.blog-title
  font-family: 'Maven Pro', sans-serif
  text-align: center
  font-size: 50px
  font-weight: bold
  margin: 20px 0
  padding-bottom: 10px
  border-width: thin
  border-style: solid
  border-top: none
  border-left: none
  border-right: none

.images-blog
  margin: 20px 0
  text-align: center

.blog-text
  font-family: 'Muli', sans-serif
  font-size: 25px
  margin: 0 0 40px 0

.blog-btn-center
  text-align: center
  margin: 40px 0px

.blog-btn
  border-radius: 40px
  padding: 11px 25px
  font-weight: 600
  border: none
  display: inline-block
  font-size: 1.3rem
  font-family: 'Muli', sans-serif
  background: linear-gradient(to right, #7f26bf 0%,#9926c0 100%)
  color: white
  padding: 22px 0

.blog-btn:hover
  background: linear-gradient(to right, #631d95 0%, #771d95 100%)


.contact-background //fundo da parte do contato pagina home
  background: linear-gradient(45deg, #0f1e66 0%,#061040 100%)
  padding: 130px 0

.contact-text //Texto do contato
  font-size: 40px
  color: white
  font-family: 'Muli', sans-serif
  text-align: center
  padding: 10px 100px

.btn-contact //botao contato
  margin: 50px 0 0 0

.images-metodology
  margin: 20px 0
  margin-left: 20px
  margin-right: 20px
  text-align: center

.metodology-text
  font-family: 'Muli', sans-serif
  font-size: 25px
  margin: 0 0 40px 0

.metodology-btn
  border-radius: 40px
  padding: 11px 25px
  font-weight: 600
  border: none
  display: inline-block
  font-size: 1.8rem
  font-family: 'Muli', sans-serif
  background: #0f1e66
  color: white
  padding: 25px 10px


.metodology-title
  font-family: 'Maven Pro', sans-serif
  text-align: center
  font-size: 50px
  font-weight: bold
  margin: 20px 0
  padding-bottom: 0px
  border-width: thin
  border-style: none
  border-top: none
  border-left: none
  border-right: none

.metodology-btn-center
  text-align: center
  margin: 40px 0px

.metodology-box
  margin-top: 5px
  margin-bottom: 5px
  padding-left: 3px
  padding-right: 3px
  padding-top: 3px
  padding-bottom: 3px
  background-color: white
  border-radius: 5px

.grey-background
  background-color: #F1EFEB
  background-attachment: fixed

//End Página Home ------------------------------------------------------------------------------

.wrapper
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: linear-gradient(to bottom, #F5E722, #B8B040)

.photo
  position: absolute !important
  top: 50%
  left: 50%
  margin: -197px 0 0 -310px
  width: 620px
  height: 394px
  background: #FFF
  border-radius: 2px
  box-shadow: 0 2px 15px rgba(0, 0, 0, .5)


.photo > .cover

  position: relative
  height: 260px
  background: transparent center no-repeat
  background-size: 100% auto
  border-radius: 2px 2px 0 0


.photo > .cover > label

  position: absolute
  top: 22px
  left: -33px
  height: 33px
  padding: 0 30px 0 63px
  line-height: 33px
  vertical-align: middle
  font-family: sans-serif
  font-size: 13px
  text-transform: uppercase
  color: #FFF
  text-shadow: 0 1px 2px #000
  background: rgba(0, 0, 0, .8)


.photo > .cover > label > i

  position: absolute
  top: 0
  left: 0


.photo > .cover > label > i > svg

  margin: 8px



.photo > .info

  position: relative
  height: 134px
  overflow: hidden
  border-radius: 0 0 2px 2px


.photo > .info > .recipe

  display: block
  position: absolute
  top: 0
  left: 0
  width: 134px
  height: 134px
  background: #000
  font-family: sans-serif
  font-size: 14px
  color: #FFF
  text-transform: uppercase
  text-decoration: none
  text-align: center
  border-radius: 0 0 0 2px
  transition: 0.2s ease all


.photo > .info > .recipe:hover
  background: #F5E722

.photo > .info > .recipe > i

  display: block
  margin: 38px 0 15px


.photo > .info > .content

  position: absolute
  top: 20px
  right: 20px
  bottom: 20px
  left: 154px
  font-family: sans-serif
  font-size: 14px
  color: #888


.photo > .info > .content strong
  font-weight: normal
  color: #333
.photo > .info > .content .pad-right
  padding-right: 20px
.photo > .info > .content .border-right
  border-right: 1px solid #D9D9D9
.photo > .info > .content .consumers img, .photo > .info > .content .consumers span
  display: inline-block
  width: 32px
  height: 32px
  margin: 0 2px 0 0
  line-height: 32px
  vertical-align: middle
  border-radius: 100%
.photo > .info > .content .consumers span
  margin: 0

.photo > .info > .content h1

  margin: 0 0 10px
  font-size: 26px
  font-weight: normal
  color: #333



// Página contato --------------------------------------------------------------------------
.contact-title
  font-family: 'Maven Pro', sans-serif
  text-align: center
  font-size: 50px
  font-weight: bold
  margin: 20px 0
  padding-bottom: 10px
  color: #061040

.contact-btn
  padding: 10px 0

.contact-btn:hover
  background: linear-gradient(to right, #631d95 0%, #771d95 100%)

.page-contact-background
  background-color: #99ccff
  min-height: 100vh

.side-contact-text
  padding: 50px 0
  font-size: 40px
  color: white
  font-family: 'Muli', sans-serif
  text-align: center

.side-contact-text-2
  padding: 70px 0 30px 0
  font-size: 25px
  color: white
  font-family: 'Muli', sans-serif
  text-align: center

.form-background
  background-color: white
  margin: 0 45px
  padding: 30px 40px
  border-radius: 5%

@media (min-width: 992px) // A partir de 992px de largura, ele começa a exibir a margin desse jeito
  .form-background
    margin: 0 0 10px 60px

.message-state
  text-align: center
  font-family: 'Muli', sans-serif
  font-size: 25px
  border-radius: 5%

// /Página contato --------------------------------------------------------------------------