@import ../bootstrap/scss/bootstrap.scss


@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Muli|open-sans|Oxygen&display=swap')

// Para google fontes -> use:
// font-family: 'open-sans', sans-serif
// font-family: 'Oxygen', sans-serif
// font-family: 'Maven Pro', sans-serif

body
  font: 20px 'open-sans', sans-serif
  margin-top: 116px
  @media (min-width: 992px)
    margin-top: 79px



a
  color: #00B7FF





.yellow-background
  background: linear-gradient(to bottom, #f5e722, #b8b040)
  background-attachment: fixed

.title
  font-family: 'Maven Pro', sans-serif
  text-align: center
  font-size: 120px
  font-weight: bolder
  margin: 20px 0
  padding-bottom: 10px
  // border-width: thin
  // border-style: solid
  // border-top: none
  // border-left: none
  // border-right: none
  z-index: 20
  @media (min-width: 992px)
    font-size: 50px

.content
  font-size: 50px
  z-index: 20
  @media (min-width: 992px)
    font-size: 25px

.maven-font
  font-family: 'Maven Pro', sans-serif

.vertical-center
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  vertical-align: middle
  height: 100%


//End General ------------------------------------------------------------------------------


//Home ------------------------------------------------------------------------------

// Home slider

.projetos
  background: #EBDB15

.img-slider
  width: 100vw
  height: 95vh
  object-fit: cover

.box-img-slider
  position: relative
  /* Make the width of box same as image */
  display: inline-block

.box-img-slider .text-img-slider
  position: absolute
  margin: 0 auto
  left: 0
  right: 0
  /* Adjust this value to move the positioned div up and down */
  top: 75%
  color: white
  /* Set the width of the positioned div */
  width: 75%
  font-size: 40px
  @media (min-width: 992px)
    width: 60%
    font-size: 25px

.a-slider-know-more
  color: white
  font-size: 42px
  @media (min-width: 992px)
    font-size: 27px

.home-title
  font-family: 'Maven Pro', sans-serif
  font-size: 40px
  font-weight: bold
  margin: 20px 0
  padding-bottom: 0px
  border-width: thin
  border-style: none
  border-top: none
  padding: 10px 30px
  border-right: none
  @media (max-width: 992px)
    text-align: center
    font-size: 60px

.home-text
  font-family: 'open-sans', sans-serif
  font-size: 18px
  padding: 10px 30px
  justify-content: left
  line-height: 33px
  opacity: 0.85
  @media (max-width: 992px)
    font-size: 45px
    text-align: center
    justify-content: center
    line-height: 50px


.home-btn
  border-radius: 40px
  font-weight: 250
  border: none
  display: inline-block
  font-size: 1.3rem
  font-family: 'open-sans', sans-serif
  background: #5B84E6
  color: white
  padding: 11px 0
  width: 30%
  margin: 25px
  margin-left: 0em
  @media (max-width: 992px)
    font-size: 2.5rem
    width: 40%
    margin-left: 0.5em
    text-align: center

.image-foguete
  width: 550px
  margin-left: 3em
  @media (max-width: 992px)
    margin-left: 12em

.image-quebra-cabeca
  width: 450px
  margin-left: 8em
  @media (max-width: 992px)
    margin-left: 12em

.hr
  height: 1px
  width: 85%
  background-color: #CFCFCF
  display: block
  margin-left: 6em
  @media (max-width: 992px)
    margin-left: 4em

.parcerias-text
  font-family: 'Maven Pro', sans-serif
  margin-left: 33em
  color: #707070
  @media (max-width: 992px)
    margin-left: 12em
    font-size: 30px


.image-parceria
  width: 80px
  margin-left: 0em
  @media (max-width: 992px)
    width: 200px
    margin-left: 9em
.image-parceria-2
  @media (max-width: 992px)
    margin-left: 9em




// End home slider

.blog-background
  min-height: 95vh

.blog-title
  font-family: 'Maven Pro', sans-serif
  text-align: center
  font-size: 60px
  font-weight: bold
  margin: 20px 0
  padding-bottom: 10px
  border-width: thin
  border-style: solid
  border-top: none
  border-left: none
  border-right: none
  @media (min-width: 992px)
    font-size: 50px

.images-blog
  margin: 20px 0
  text-align: center

.blog-text
  font-family: 'open-sans', sans-serif
  font-size: 40px
  margin: 0 0 40px 0
  opacity: 0.85
  @media (min-width: 992px)
    font-size: 25px

.blog-btn-center
  text-align: center
  margin: 40px 0px

.blog-btn
  border-radius: 40px
  padding: 11px 25px
  font-weight: 600
  border: none
  display: inline-block
  font-size: 2.3rem
  font-family: 'open-sans', sans-serif
  background: linear-gradient(to right, #7f26bf 0%,#9926c0 100%)
  color: white
  padding: 22px 0
  @media (min-width: 992px)
    font-size: 1.3rem

.blog-btn:hover
  background: linear-gradient(to right, #631d95 0%, #771d95 100%)

//fundo da parte do contato pagina home
.contact-background
  background: linear-gradient(45deg, rgb(241,230,93) 0%,rgb(238,225,57) 100%)
  padding: 40px 0

//Texto do contato
.contact-text
  font-size: 55px
  color: #25283D
  font-family: 'open-sans', sans-serif
  opacity: 0.85
  text-align: center
  padding: 10px 100px
  @media (min-width: 992px)
    font-size: 40px

//botao contato
.btn-contact
  margin: 50px 0 0 0
  background: linear-gradient(to right, #333333 0%, #4d4d4d 100%)

.btn-contact:hover
  background: linear-gradient(to right, #000000 0%, #1a1a1a 100%)

.images-metodology
  margin: 20px 0
  margin-left: 20px
  margin-right: 20px
  text-align: center

.metodology-text
  font-family: 'open-sans', sans-serif
  font-size: 40px
  margin: 0 0 40px 0
  opacity: 0.85
  @media (min-width: 992px)
    font-size: 25px

.metodology-btn
  border-radius: 40px
  padding: 11px 25px
  font-weight: 600
  border: none
  display: inline-block
  font-size: 2rem
  font-family: 'open-sans', sans-serif
  background: #0f1e66
  color: white
  padding: 25px 10px
  @media (min-width: 992px)
    font-size: 1.3rem


.metodology-title
  font-family: 'Maven Pro', sans-serif
  text-align: center
  font-size: 50px
  font-weight: bold
  margin: 20px 0
  padding-bottom: 0px
  border-width: thin
  border-style: none
  border-top: none
  border-left: none
  border-right: none

.metodology-btn-center
  text-align: center
  margin: 40px 0px

.metodology-box
  margin-top: 5px
  margin-bottom: 5px
  padding-left: 3px
  padding-right: 3px
  padding-top: 3px
  padding-bottom: 3px
  background-color: white
  border-radius: 5px

.grey-background
  background-color: #F1EFEB
  background-attachment: fixed
  min-height: 95vh

.background-who-we-are
  min-height: 95vh

.text-who-we-are
  font-family: 'open-sans', sans-serif
  font-size: 35px
  opacity: 0.85
  margin-left: 60px
  margin-right: 60px
  padding: 10px 30px
  @media (min-width: 992px) // A partir de 992px de largura, ele começa a exibir desse jeito
    font-size: 25px

.text-know-more
  font-family: 'open-sans', sans-serif
  font-size: 35px
  font-weight: bold
  opacity: 0.85
  margin-left: 55px
  padding: 0 30px 40px
  @media (min-width: 992px) // A partir de 992px de largura, ele começa a exibir desse jeito
    font-size: 25px

.a-text-know-more
  color: black

.number-who
  font-size: 70px
  text-align: center
  font-weight: bold
  @media (min-width: 992px) // A partir de 992px de largura, ele começa a exibir desse jeito
      font-size: 55px

.text-number-who
  font-size: 30px
  text-align: center
  @media (min-width: 992px) // A partir de 992px de largura, ele começa a exibir desse jeito
      font-size: 22px

// Wave parte de contato.


.inner-header
  height: 65vh
  width: 100%
  margin: 0
  padding: 0


.flex
  display: flex
  justify-content: center
  align-items: center
  text-align: center


.waves
  position: relative
  width: 100%
  height: 10vh
  margin-bottom: -45px
  margin-top: -50px
  min-height: 200px
  max-height: 300px


.content
  position: relative
  height: 20vh
  text-align: center
  background-color: white


/* Animation */

.parallax > use
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite

.parallax > use:nth-child(1)
  animation-delay: -2s
  animation-duration: 7s

.parallax > use:nth-child(2)
  animation-delay: -3s
  animation-duration: 10s

.parallax > use:nth-child(3)
  animation-delay: -4s
  animation-duration: 13s

.parallax > use:nth-child(4)
  animation-delay: -5s
  animation-duration: 20s

@keyframes move-forever
  0%
   transform: translate3d(-90px,0,0)

  100%
    transform: translate3d(85px,0,0)

/*Shrinking for mobile*/
@media (max-width: 768px)
  .waves
    height: 40px
    min-height: 40px

  .content
    height: 30vh

  h1
    font-size: 24px

// Parte dos bloquinhos

.card-deck
  padding: 60px
  margin-top: 100px
  margin-bottom: 150px

.card
  height: 500px


//End Home ------------------------------------------------------------------------------


// Conctact --------------------------------------------------------------------------
.contact-title
  font-family: 'Maven Pro', sans-serif
  text-align: center
  font-size: 60px
  font-weight: bold
  margin: 20px 0
  padding-bottom: 10px
  color: #501074
  @media (min-width: 992px) // A partir de 992px de largura, ele começa a exibir desse jeito
    font-size: 50px

.contact-btn
  padding: 10px 0
  // background: linear-gradient(to right, #cccc00 0%, #fffe00 100%)

.contact-btn:hover
  background: linear-gradient(to right, #631d95 0%, #771d95 100%)
  // background: linear-gradient(to right, #b3b300 0%, #e6e600 100%)

.page-contact-background
  background: #f5f5f5
  background-attachment: fixed
  min-height: 100vh

.side-contact-text
  // padding: 50px 60px
  font-size: 50px
  color: #25283D
  opacity: 0.85
  font-family: 'open-sans', sans-serif
   // A partir de 992px de largura, ele começa a exibir desse jeito
  @media (min-width: 992px)
    font-size: 40px
    // padding: 50px 20px

.side-contact-text-2
  // padding: 0 60px 60px 60px
  font-size: 35px
  color: #25283D
  font-family: 'open-sans', sans-serif
  opacity: 0.85
  // A partir de 992px de largura, ele começa a exibir desse jeito
  @media (min-width: 992px)
    font-size: 25px
    // padding: 70px 20px 30px 20px

.form-background
  background-color: white
  margin: 0 45px
  padding: 30px 40px
  border-radius: 2%
  // A partir de 992px de largura, ele começa a exibir a margin desse jeito
  @media (min-width: 992px)
    margin: 0 0 10px 60px

.message-state
  text-align: center
  font-family: 'open-sans', sans-serif
  font-size: 35px
  border-radius: 5%
  opacity: 0.85
  @media (min-width: 992px)
    font-size: 25px

.input-height
  height: 70px
  font-size: 40px
  @media (min-width: 992px)
    font-size: 1rem
    height: 45px

.input-height-text
  height: 150px
  font-size: 40px
  @media (min-width: 992px)
    height: 90px
    font-size: 1rem


.box-form select
  width: 100%
  box-sizing: border-box
  box-shadow: none
  outline: none
  border: none
  border-bottom: 1px solid


select.form-control:not([size]):not([multiple])
  height: 70px
  @media (min-width: 992px)
    height: 40px

.label-form
  font-size: 40px
  @media (min-width: 992px)
   font-size: 25px

.page-contact-btn
  margin: 10px 0


.box-form h2
  margin: 0 0 40px
  padding: 0
  font-weight: bold
  text-transform: uppercase

.box-form input
  padding: 10px 0 0 0
  margin-bottom: 30px

.box-form textarea
  height: 100px
  padding: 10px 0
  margin-bottom: 40px

.text-area-margin
  margin-top: 30px

.box-form input,
.box-form textarea
  width: 100%
  box-sizing: border-box
  box-shadow: none
  outline: none
  border: none
  border-bottom: 1px solid
  border-color: #999


.box-form form div
  position: relative

.box-form form div label
  position: absolute
  top: 10px
  left: 13px
  color: #999
  transition: .5s
  pointer-events: none
  font-size: 40px
  @media (min-width: 992px)
    font-size: 22px

.box-form input:focus ~ label,
.box-form textarea:focus ~ label,
.box-form input:valid ~ label,
.box-form textarea:valid ~ label
  top: -17px
  left: 0
  color: black
  font-size: 25px
  font-weight: bold
  @media (min-width: 992px)
    font-size: 20px

.box-form input:focus,
.box-form textarea:focus,
.box-form input:valid,
.box-form textarea:valid
  border-bottom: 2px solid


//Para o script de aumentar as linhas do text area
#test
  line-height: 1.4

//Para deixar o select igual ao outros inputs 1
.select-contact
  border-radius: 0
  font-size: 22px
  color: #999
  margin-bottom: 50px
//Para deixar o select igual ao outros inputs 2
.select-contact:valid
  font-size: 25px
  color: black
  font-weight: bold
  padding-left: 0
  border-bottom: 2px solid
  @media (min-width: 992px)
    font-size: 20px

.foto-consultor
  padding: 0

// End contact --------------------------------------------------------------------------

//Error page

.error-background
  background-color: #25283D

.error-title
  font-family: 'open-sans', sans-serif
  padding: 5px 30px
  justify-content: left
  line-height: 33px
  color: white
  font-size: 18px
  @media (max-width: 992px)
    font-size: 100px
    text-align: center
    justify-content: center
    line-height: 50px

.error-text
  font-family: 'open-sans', sans-serif
  padding: 5px 30px
  justify-content: left
  line-height: 33px
  color: white
  margin-left: 0em
  font-size: 18px
  @media (max-width: 992px)
    font-size: 55px
    text-align: center
    margin-left: 0em
    justify-content: center
    line-height: 70px

.image-error
    margin-left: 40em
    margin-top: -28em
    width: 700px
    @media (max-width: 992px)
      margin-left: 0.3em

.wrapper
	padding: 0px
  margin-left: 40em
  text-align: center

.list-inline li
	display: inline
	padding-right: 5px
	padding-left: 5px
	margin-bottom: 10px
  margin-left: 40em
  margin-right: -30em
  text-align: center

.social-icons .fa
	font-size: 1.8em
  margin-left: 40em

.social-icons .fa
	width: 50px
	height: 50px
	line-height: 50px
	text-align: center
	color: #25283D
	color: #25283D
	-webkit-transition: all 0.3s ease-in-out
	-moz-transition: all 0.3s ease-in-out
	-ms-transition: all 0.3s ease-in-out
	-o-transition: all 0.3s ease-in-out
	transition: all 0.3s ease-in-out


.social-icons.icon-circle .fa
	border-radius: 50%
  margin-left: 40em


.social-icons .fa:hover, .social-icons .fa:active
	color: #FFF
	-webkit-box-shadow: 1px 1px 3px #333
	-moz-box-shadow: 1px 1px 3px #333
	box-shadow: 1px 1px 3px #333

.social-icons .fa-facebook,.social-icons .fa-facebook-square
  background-color: #EBDB15
.social-icons .fa-instagram
  background-color: #EBDB15
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square
  background-color: #EBDB15

// Solutions ------------------------------------------------------------------------------

.vertical-center-solutions
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  vertical-align: middle
  height: 60%
  padding-top: 20vh

.waveWrapper
    overflow: hidden
    position: absolute
    left: 0
    right: 0
    bottom: 0
    top: 0
    margin: auto

.waveWrapperInner
    position: absolute
    width: 100%
    overflow: hidden
    height: 100%
    bottom: -1px
    background-image: linear-gradient(to top, #fffe00 20%, #B5A641 80%)

.bgTop
    z-index: 15
    opacity: 0.5

.bgMiddle
    z-index: 10
    opacity: 0.75

.bgBottom
    z-index: 5

.wave
    position: absolute
    left: 0
    width: 200%
    height: 100%
    background-repeat: repeat no-repeat
    background-position: 0 bottom
    transform-origin: center bottom

.waveTop
    background-size: 50% 100px

.waveAnimation .waveTop
  animation: move-wave 3s
   -webkit-animation: move-wave 3s
   -webkit-animation-delay: 1s
   animation-delay: 1s

.waveMiddle
    background-size: 50% 120px

.waveAnimation .waveMiddle
    animation: move_wave 10s linear infinite

.waveBottom
    background-size: 50% 100px

.waveAnimation .waveBottom
    animation: move_wave 15s linear infinite


@keyframes move_wave
  0%
    transform: translateX(0) translateZ(0) scaleY(1)
  50%
    transform: translateX(-25%) translateZ(0) scaleY(0.55)
  100%
    transform: translateX(-50%) translateZ(0) scaleY(1)



//End Solutions ------------------------------------------------------------------------------


//Nav bar --------------------------------------------------------------------------
.nav-bar-style li
  font-size: 50px
  @media (min-width: 992px)
    font-size: 20px

.nav-bar-style button
  font-size: 40px
  @media (min-width: 992px)
    font-size: 20px

.nav-cpe-dimensions
  height: 90px
  width: 254px
  margin-top: -22px
  @media (min-width: 992px)
    height: 90px
    width: 160px


//End Nav bar --------------------------------------------------------------------------


//Header and footer --------------------------------------------------------------------------------------

.header_style
  background-color: #25283D
  color: black
  text-align: center
  font-size: 90px
  position: fixed
  padding: 1px 10px
  width: 100%
  transition: 0.2s



.btn-to-contact
  background-color: #f5e722
  border-color: #f5e722
  color: black
  border-radius: 40px

.btn-to-contact:hover
  background-color: #b8b040
  border-color: #b8b040
  color: black

.footer-item
  font-size: 20px
  color: #5B84E6 !important
  padding-top: 20px
  font-family: 'Maven Pro', sans-serif

.footer-link
  font-size: 16px
  font: 20px 'open-sans', sans-serif
  opacity: 0.85
  color: rgb(247, 248, 249) !important

.bg-black
  background-color: #19191B !important
  @media screen and (max-device-width: 480px)
    text-align: center

.line-footer
  background-color: #F7F8F9
  opacity: 0.29
.footer-span
  font-size: 14px
  color: rgb(247, 248, 249)
  opacity: 0.85

.social-icon
  width: 38px
  height: 38px

.social-icon li
  vertical-align: top
  display: inline

//END Header and footer --------------------------------------------------------------------------------------

//Start WhatsApp Button --------------------------------------------------------------------------------------

.label-container
	position: fixed
	bottom: 48px
	right: 105px
	display: table
	visibility: hidden


.label-text
	color: #25283d
	background: rgba(37,40,61,0.3)
	display: table-cell
	vertical-align: middle
	padding: 10px
	border-radius: 3px
  font-color: 19191B


.label-arrow
	display: table-cell
	vertical-align: middle
	color: #333
	opacity: 1


.float
	position: fixed
	width: 60px
	height: 60px
	bottom: 40px
	right: 40px
	background-color: #25D366
	color: #FFF
	border-radius: 50px
	text-align: center
	box-shadow: 2px 2px 1px #808080


.my-float
	font-size: 40px
	margin-top: 10px


a.float + div.label-container
  visibility: hidden
  opacity: 0
  transition: visibility 0s, opacity 0.5s ease


a.float:hover + div.label-container
  visibility: visible
  opacity: 1

//END WhatsApp Button --------------------------------------------------------------------------------------
